<!-- <div class="mdl-layout--fixed-header mdl-layout__header--scroll"> -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <a href="/">{{ site.title }}</a>
      </span>
      <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {% for link in site.header.navigation %}
          <a class="mdl-navigation__link" href="{{ link.href }}">{{ link.name }}</a>
        {% endfor %}
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ site.short_title }}</span>
    <nav class="mdl-navigation">
      <div class="nav">
        {% for obj in site.data.book-0 %}
          {% if obj.last.type == "chapter" or obj.last.type == "appendix" %}
            {% if is_sec == true %}
              </div>
              {% assign is_sec = false %}
            {% endif %}
            <a class="nav-cha" href="/{{ obj.last.hash }}">{{ obj.last.ch }} {{ obj.last.title }}</a>
          {% endif %}
          {% if obj.last.type == "section" %}
            {% if is_sec != true %}
              <div class="nav-sec-div">
              {% assign is_sec = true %}
            {% endif %}
            <a class="nav-sec" href="/{{ obj.last.hash }}">{{ obj.last.sec }} {{ obj.last.title }}</a>
          {% endif %}
          {% if obj.last.type == "lab" %}
            {% if is_sec != true %}
              <div class="nav-sec-div">
              {% assign is_sec = true %}
            {% endif %}
            <a class="nav-sec" href="/{{ obj.last.hash }}">L{{ obj.last.ch }} {{ obj.last.title }}</a>
          {% endif %}
        {% endfor %}
        {% if is_sec == true %}
          </div>
        {% endif %}
      </div>
    </nav>
  </div>
<!-- </div> -->
