<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="/assets/css/style.css"/>
<link rel="stylesheet" href="/assets/css/pygments.css"/>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/font-awesome.min.css"> -->
<!-- <link href="/assets/css/fa/brands.min.css" rel="stylesheet"> -->
<!-- <link href="/assets/css/fa/solid.min.css" rel="stylesheet"> -->
<link href="/assets/css/fa/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
<!-- <script src="/assets/js/pseudocode/build/pseudocode.js">
</script> -->
<!-- <script src="/assets/js/pseudocode/build/pseudocode.css"> -->