---
---

$preferred_font: 'Palatino', 'Georgia', 'Times New Roman', 'Tinos', serif !default;
$performance_font: 'Palatino', 'Georgia', 'Times New Roman', 'Tinos', serif !default;

/* colors */

@import "_material-design-lite/src/_color-definitions";

$trim-color-classes: true;
$color-primary: $palette-light-blue-600;
$color-primary-dark: $palette-light-blue-900;
$color-accent: $palette-amber-A700;

/* cards for infoboxes */

@import "_material-design-lite/src/card/_card.scss";

/* tooltips */

@import "_material-design-lite/src/tooltip/_tooltip.scss";

/* the main material design stylesheet */
@import "_material-design-lite/src/material-design-lite.scss";

// custom

/// fix scrolling to the top of the page on refresh -- see https://github.com/google/material-design-lite/issues/4140

// div.mdl-layout {
//   height: auto; // breaks header scrolling
// }

// .mdl-layout__container { position: relative; } // breaks header scrolling

/// page

.page-container {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 8px;

  h1 {
    font-size: 18pt;
    font-weight: bold;
  }

  h2 {
    font-size: 14pt;
    color: black;
    font-weight: bold;
  }

  h3 {
    font-size: 12pt;
    color: black;
    font-weight: bold;
  }
  
  // Made h3 inline with the first line of the paragraph that follows it
  // section > h3 {
  //   display: inline;
  //   margin-right: 10px;
  // }
  section.level3 {
    display: inline;
  }

  section.level3 > h3 {
    display: inline-block;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: -10px;
  }

  section.level3 > h3 + p {
    display: inline;
  }

  h4 {
    font-size: 12pt;
    color: #848484;
    font-weight: bold;
  }

  p,ol,ul,li {
    font-size: 12pt;
    color: black;
  }

  table {
    @extend .mdl-data-table;
    @extend .mdl-shadow--2dp;
    font-size: 10pt;
    color: black;
  }

  th {
    text-align: left !important;
  }

  td {
    text-align: left !important;
    strong {
      font-weight: bolder;
    }
  }

  .mdl-card__supporting-text {
    @extend .mdl-card__supporting-text;
    width: calc(100% - 32px);
    overflow-x: auto;
  }

  a {
    color: #039BE5;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  strong a {
    font-weight: bold;
  }

  code {
    color: black;
    font-size: 11pt;
    font-family: "Courier","Courier New", monospace;
    font-weight: 520;
  }

  details {
    color: black;
    font-size: 12pt;
  }

  details > details {
    margin-left: 30px;
  }

  details > details > details {
    margin-left: 60px;
  }

  .version-list-item {
    margin-left: 30px;
  }

  figure {
    width: fit-content;
  }

  details > summary::marker {
    content: "+";
    font-family: "Courier",monospace;
  }

  details[open] > summary::marker {
    content: "-";
    font-family: "Courier",monospace;
  }

  details.empty > summary::marker {
    content: "+";
    color: transparent;
    font-family: "Courier",monospace;
  }

  details > summary {
    cursor: pointer;
  }
}

ol {
    list-style-type: decimal;
}

ol > li > ol {
    list-style-type: lower-alpha;
}

ol > li > ol > li > ol {
    list-style-type: lower-roman;
}

ol > li > ol > li > ol > li > ol {
    list-style-type: upper-alpha;
}

ol > li > ol > li > ol > li > ol > li > ol {
    list-style-type: upper-roman;
}

span.menu-item {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 15px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #cbcbcb;
  display: inline-block;
  font-family: 
    ui-sans-serif, 
    system-ui, 
    -system-ui, 
    -apple-system,
    BlinkMacSystemFont,
    Roboto, Helvetica, Arial, 
    sans-serif;
}

span.menu-item:after {
  content: '▶';
  color: #cbcbcb;
  position: absolute;
  display: inline-block;
  margin-left: 8px;
}

span.menu-item-last {
  margin-right: 1px;
}

span.menu-item-last:after {
  content: none;
}

// span.menu-item:before{
//   content: '';
//   position: absolute;
//   left: 100%;
//   z-index:-1;
//   width: 28px;
//   height: 28px;
//   background-color: none;
//   border-right: 2px solid black;
//   border-bottom: 2px solid black;
//   transform: rotate(-45deg) translate(-14px,-7px);
// }

a.myurl {
  font-family: "Courier","Courier New", monospace;
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
}

div.sourceCode {
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #cbcbcb;
}

pre.text {
  margin-bottom: 10px !important;
}

div.stdout {
  margin-bottom: 10px;
}

.mdl-layout-title a {
  color: $layout-header-text-color;
  text-decoration: none;
}

.hide {
    display: none; 
}

// Dropdown version selector

/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  position: relative;
  display: inline;
  z-index: 100;
  text-align: right;
  float: right;
  height: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  z-index: 100;
  font-family: "Courier New";
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: "Courier New";
  margin-top: 3px;
  margin-right: 3px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  border: solid;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 3px;
  text-align: right;
  top: 20px;
  display: none;
  // position: absolute;
  float: right;
  background-color: #ffab00;
  min-width: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 100;
  border-radius: 10px;
  font-size: 12px;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: left;
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a span {visibility: hidden};

.tsd {
  // right: 25px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ff9800;
}

.dropdown-content a:hover span {
  visibility: visible;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ff9800;
}

/* Navigation Menu */

.nav ul li {
  display: block;
  list-style-type: none;
}

.nav-cha {
  display: block;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-sec {
  display: block;
  padding-left: 25px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-sec, .nav-cha {
  text-decoration: none;
  color: black;
}

.nav-sec:hover, .nav-cha:hover {
  background-color: #ffc400;
}

.nav-sec-div {
  display: none;
}

.nav-sec-div:hover {
  display: block;
}

.nav-cha:hover + div {
  display: block;
}

// Cards

.infobox {
  margin: auto;
  margin-bottom: 16px;
  min-width: 330px;
  width: 80%;
}

// Section titles and subtitles

h1[data-0-sec]::before {
  content: attr(data-0-sec);
  margin-right: 10px;
}
h1[data-0-ch]::after {
  content: var(--after-content); // Populating the after content in the javascript file versioning.js now
  display: block;
  font-size: 10pt;
  font-style: italic;
  color: #848484;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
}
// .section-titles {
//   display: block;
//   font-size: 0px;
//   line-height: 0px;
// }
// .section-title {
//   display: block;
//   line-height: normal;
//   color: black;
// }
h1 {
  color: black;
  margin-bottom: 0px;
}
// .section-subtitle {
//   display: block;
//   font-size: 10pt;
//   line-height: normal;
// }
// .section-subtitle a {
//   text-decoration: none;
//   color: #039BE5;
// }

h1.faux > a {
  color: black;
}

h1.faux {
  margin-top: 10px;
}

// Homepage

h1.homepage {
  font-size: 16pt;
  margin-top: 10px;
}

h1.homepage::before {
  content: attr(data-0-ch) '  ';
  margin-right: 10px;
}

h1.homepage a {
  color: black;
  text-decoration: none;
}

h1.homepage a:hover {
  text-decoration: underline;
}

h1#table-of-chapters {
  font-size: 18pt;
}

h1#table-of-chapters::before, h1#table-of-chapters::after {
  content: none
}

// Chapter toc pages

h1.chapterheader {
  font-size: 18pt;
}

h1.chapterheader::before {
  content: 'Chapter ' attr(data-0-ch) '  ';
  margin-right: 10px;
}

// Subsections titles and subtitles

h2 {
  margin-bottom: 0px;
  line-height: normal;
}
h2.has-subsection-subtitle {
  margin-bottom: -5px;
}
h2[data-0-sec]::before {
  content: attr(data-0-subsec);
  margin-right: 10px;
}
h2[data-0-ch]::after {
  content: var(--after-content); // Populating the after content in the javascript file versioning.js now
  display: block;
  font-size: 10pt;
  font-style: italic;
  color: #848484;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
}
.subsection-subtitle {
  display: block;
  font-size: 10pt;
  line-height: normal;
  margin-bottom: 16px;
}
.subsection-subtitle a {
  text-decoration: none;
  color: #039BE5;
}

// ts and ds tags

.ts-tag, .ds-tag {
  display: inline-block;
  position: absolute;
  right: 3px;
  // float: right;
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: "Courier New", monospace;
  margin-top: -70px;
  margin-right: 3px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  border: solid;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  // box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.ds-tag {
  margin-top: -45px;
}

// component/part id
.label {
  font-family: "Courier New";
  font-weight: bold;
}

// tooltip

.tooltip {
  display: inline-block;
}

[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    // bottom: -35px;
    // left: 50%;
    // width: 400%;
    top: 0px;
    padding: 8px;
    transform: translateX(-40%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #616161e6;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateY(24px) scale(1); 
}

.cover-image {
    box-shadow: 5px 5px 5px 0px black;
    float: left;
    margin: 20px;
}

// Scale images to fit the page width
img {
  width: 5in;
  max-width: 100%;
  height: auto;
}

// Scale svg images to fit the page width
// img svg {
//   width: 100% !important;
//   max-width: 100% !important;
//   height: auto !important;
// }

// Blockquotes

blockquote {
  font-style: normal;
  font-size: 11pt;
}

blockquote:before {
  content: none;
}

blockquote:after {
  content: none;
}

// Definitions
div.definition {
  margin-bottom: 15px;
}

/* sticky video */

.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  /*width: calc(100% - 420px);*/
  top: 70px;
  display: flex;
  justify-content: right;
  align-items: left;
  box-shadow: 0 0 6px #000;
  color: #fff;
  padding-bottom: 56.25%;
}

.videopdf-container {
  z-index: 10;
	// position: -webkit-sticky !important; // Safari
	// position: sticky !important; // Not working
  position: fixed !important; // Works (but not sticky)
	width: 100%;
	top: 100px;
  right: 7px;
	// display: flex;
	color: #fff;
	padding: 0;
	padding-bottom: 45%; /* 16:9 ish */
	height: 0;
}

.videopdf-container iframe {
  position: absolute;
  width: 95%;
  height: 100%;
  display: inline-block;
  // resize: both;
  resize: none;
  overflow: auto;
  /*box-shadow: 0 0 6px #000;*/
  padding-right: 15px;
  padding-bottom: 15px;
}

.videopdf-container button {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: calc(100% - 30px);
  padding: 0;
  border: 0 solid #000;
}

.hiddenvideopdf-container button {
  margin-left: calc(100% - 40px);
}

.button1 {
  z-index: 12;
  position: absolute;
  display: inline-block;
  /*padding:0.35em 1.2em;*/
  /*border:0.1em solid #000;*/
  width: 36px;
  height: 29px;
  /*margin:0 0.3em 0.3em 0;*/
  margin: 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font: none;
  font-family: Futura, sans-serif;
  font-weight:300;
  color: #000;
  background-color: var(--background);
  text-align:center;
  transition: all 0.1s;
  cursor: pointer;
}

.button1:hover {
  filter: invert(75%) sepia(93%);
}

.button1 .video-hover-text {
  visibility: hidden;
  position: absolute;
  right: 33px;
  width: 130px;
  display: inline-block;
  filter: invert(100%);
  font-family: 'Palatino', 'Georgia', 'Times New Roman', 'Tinos', serif;
  font-size: 10pt;
}

.button1:hover .video-hover-text {
  visibility: visible;
}

// .button1:active {
//   filter: none;
//   fill: var(--blue);
// }

// @media all and (max-width:30em){
//  .button1{
//   display:block;
//   margin:0.4em auto;
//  }
// }

.hiddeniframe {
  height:0 !important;
}

.hiddenvideopdf-container {
  box-shadow: 0 0 0 #000;
  padding-bottom: 0;
  height: 0px;
  // z-index: 11;
}

:focus {outline:0 !important;}

// Next and previous buttons

.mdl-mega-footer {
  background-color: #fff; // This is to make the next-prev buttons visible on the footer
}

div.next-prev-buttons {
  position: fixed;
  z-index: 20;
  right: 0;
  bottom: 0;
  margin: 10px;
}

a.next-button, a.prev-button {
  display: inline-block;
  z-index: 20;
  padding: 0px !important;
  margin: 10px;
  padding: 10px;
  // border: 1px solid black;
  // border-radius: 5px;
  background-color: none;
  width: 30px;
  color: black;
  font-weight: bold;
  font-family: "Courier New";
  cursor: pointer;
}

a.next-button {
  margin-left: 2px;
}

a.prev-button {
  margin-right: 2px;
}

a.next-button:hover, a.prev-button:hover {
  filter: invert(50%) sepia(93%);
}

// PDF button positioned inline-block, under the video button container
a.pdf-button {
  display: block;
  position: fixed;
  // right: 0;
  // bottom: 0;
  // margin: 10px;
  margin-left: calc(100% - 40px);
  padding: 0px;
  // border: 1px solid black;
  // border-radius: 5px;
  background-color: none;
  width: 36px;
  color: black;
  // font-weight: bold;
  // font-family: "Courier New";
  cursor: pointer;
}

a.pdf-button:hover {
  filter: invert(50%) sepia(93%);
}