<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include style.html %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}
      <div class="dropdown-container">
        {% if site.show_versions_menu %}
        <div class="dropdown v">
          <button id="vmenu" class="dropbtn vd">v ▾</button>
          <div class="dropdown-content vd">
            {% include menus/dropdown-v.html %}
          </div>
        </div>
        <!-- <div class="dropdown dsd">
          <button id="dsmenu" class="dropbtn dsd">DX▾</button>
          <div class="dropdown-content dsd">
            {% include menus/dropdown-ds.html %}
          </div>
        </div> -->
        {% endif %}
        <div class="dropdown">
          <button id="menu" class="dropbtn">Links▾</button>
          {% include links.html %}
        </div>
      </div>
      <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
      </main>
    </div>
  </body>
  {% include gtag.html %}
  {% include libs.html %}
</html>
